

<div class="row">
  <!-- <button (click)="onClick( tabset)">name</button> -->
  
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Archivos de Conciliacion</h3>
            <h6 class="card-subtitle">Archivos Externos e Internos  </h6>
            <ngb-tabset #tabSet >
              <ngb-tab title="Listado" id="List">
                <ng-template ngbTabContent>
                    <!-- LISTADO DE USUARIOS -->
                  <div class="row">

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Listado de Archivos</h4>
                                <h6 class="card-subtitle">Archivos Mapeados</h6>
                            </div>
                            <div class="table-responsive m-t-20">
                                <table class="table table-bordered table-responsive-md  ">
                                    <thead class ="bg-info text-white border border-info">
                                        <tr >
                                            <th scope="col">#</th>
                                            <th scope="col">Entidad</th>
                                            <th scope="col">Descripción</th>
                                            <th scope="col">Usuario</th>
                                            <th scope="col">Creado</th>
                                            <th scope="col">Modificado</th>
                                            <th scope="col"></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr *ngFor="let mapFile of mapFilesList; let i=index">
                                            <th scope="row">{{i+1}}</th>
                                            <td>{{ mapFile.type == 'conciliar_externo'?mapFile.banks.name:'Interno'  }}</td>
                                            <td>{{ mapFile.description }}</td>
                                            <td>{{ mapFile.users.names+' '+mapFile.users.last_names }}</td>
                                            <td>{{ mapFile.created_at }}</td>
                                            <td>{{ mapFile.updated_at }}</td>
                                            
                                            <td>
                                                <i (click)="editMap(mapFile)" 
                                                  title = "Editar" 
                                                  class="ti-pencil-alt actionIcon"></i>
                                                <i (click)="preview(mapFile)" 
                                                    title = "Previsualizar" 
                                                    class="ti-new-window actionIcon"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab id="New" title="Agregar">
                  <!-- FORMULARIO -->
                <ng-template ngbTabContent>
                  <div class="row " >
                    <!-- FORMULAIRIO DE CAMPOS -->
                    <div class="col-lg-5">
                      <div class="card">
                          <div class="card-body">
                              <h4 class="card-title">Crear Mapeo</h4>
                              <h6 class="card-subtitle">Formulario para asociación de cmapos</h6>
                              <form class="form-horizontal p-t-20" (ngSubmit)="formMap( f ) " #f="ngForm">
                                  <div class="form-group row">
                                      <label for="username" class="col-sm-3 control-label">Tipo</label>
                                      <div class="col-sm-9">
                                          <div class="input-group">
                                              <div class="input-group-prepend">
                                                  <span class="input-group-text">
                                                      <i class="ti-view-list-alt"></i>
                                                  </span>
                                              </div>
                                              <select class="custom-select" 
                                                  name="type"
                                                  [(ngModel)]="newMapFile.type"
                                                  (change)="onChangeType()"
                                                  required>
                                                  <option selected></option>
                                                  <option value="conciliar_interno">Interno</option>
                                                  <option value="conciliar_externo" *ngIf="isAdmin">Exrerno</option>
                                              </select>
                                                  
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group row" *ngIf="showBanc">
                                      <label for="username" class="col-sm-3 control-label">Entidad</label>
                                      <div class="col-sm-9">
                                          <div class="input-group">
                                              <div class="input-group-prepend">
                                                  <span class="input-group-text">
                                                      <i class="ti-view-list-alt"></i>
                                                  </span>
                                              </div>
                                              <select class="custom-select" 
                                                  name="bank"
                                                  [(ngModel)]="newMapFile.bank_id"
                                                  >
                                                  <option selected></option>
                                                  <option [value]="bank.id" *ngFor="let bank of bancsList">{{bank.name}}</option>
                                              </select>
                                                  
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label for="email4" class="col-sm-3 control-label">Descripción</label>
                                      <div class="col-sm-9">
                                          <div class="input-group">
                                              <div class="input-group-prepend">
                                                  <span class="input-group-text">
                                                      <i class="ti-pencil"></i>
                                                  </span>
                                              </div>
                                              <input type="text" 
                                                  class="form-control" 
                                                  placeholder="Nombre del Archivo"
                                                  [(ngModel)]="newMapFile.description"
                                                  name = "description" 
                                                  required>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label for="email4" class="col-sm-3 control-label">Archivo</label>
                                      <div class="col-sm-9">
                                          <div class="input-group">
                                              <div class="input-group-prepend">
                                                  <span class="input-group-text">
                                                      <i class="ti-agenda"></i>
                                                  </span>
                                              </div>
                                              <input type="file" 
                                                  id="file"
                                                  class="form-control" 
                                                  placeholder="Número telefónico"
                                                  name = "file" 
                                                  (change)="onFileChange($event.target.files)"
                                                  required>
                                          </div>
                                      </div>
                                  </div>
                                  
                                 
                                  <div class="form-group row m-b-0">
                                      <div class="offset-sm-3 col-sm-9">
                                          <button type="submit" class="btn btn-info m-r-5 waves-effect waves-light">Cargar Archivo</button>
                                          
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                    </div>
                    <!-- LISTA DE CAMPOS -->
                    <div class="col-lg-7">
                      <div class="card">
                          <div class="card-body">
                              <h4 class="card-title">Mapeo de Campos</h4>
                              <h6 class="card-subtitle">Asignación de campos a maestros</h6>
                              <!-- <form class="form-horizontal p-t-20" (ngSubmit)="save( f ) " #f="ngForm"> -->
                              <form class="form-horizontal p-t-20" (ngSubmit)="mapFunction( f2 ) " #f2="ngForm">
                                  <div class="row">
                                    <div class="col-sm-12">
                                      <div *ngFor="let row of newMapFile.fileRowsFields; let i=index"
                                          class="form-group">
                                          <label class="control-label col-form-label" for="inputcom">{{newMapFile.fileRowsHeader[i]}}</label>
                                          <div class="row">
                                            <div class="col-sm-6">
                                              <!-- <input class="form-control" id="inputcom" placeholder="Company Here" type="text"> -->
                                              <p><span class="form-control">{{row}}</span></p>
                                            </div>
                                            <div class="col-sm-6">
                                                <select class="custom-select" 
                                                  name="i"
                                                  [(ngModel)]="newMapFile.mappedFields[i]"
                                                  required>
                                                  <option selected></option>
                                                  <option 
                                                  [value]="field.id" *ngFor="let field of newMapFile.masterFields">{{ field.type==1?'*'+field.description:field.description}}</option>
                                                </select>
                                            </div>

                                            
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="offset-sm-3 col-sm-9">
                                      <button type="submit" class="btn btn-info m-r-5 waves-effect waves-light">Guardar Mapeo</button>
                                      <button 
                                        (click)="cancel()"
                                        type="" class="btn btn-danger m-r-5 waves-effect waves-light" >Cancelar</button>
                                  </div>  
                              </form>
                          </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <!-- TAB DE EDITAR -->
              <ngb-tab title="Editar"  id='updateTab' [disabled]="updateDisabled">
                  <ng-template ngbTabContent>
                    <div class="row ">
                        <!-- FORMULAIRIO DE CAMPOS -->
                        <div class="col-lg-5">
                          <div class="card">
                              <div class="card-body">
                                  <h4 class="card-title">Editar Mapeo</h4>
                                  <h6 class="card-subtitle">Formulario para edición de cmapos</h6>
                                  <form class="form-horizontal p-t-20" (ngSubmit)="formMap( f ) " #f="ngForm">
                                      <div class="form-group row">
                                          <label for="username" class="col-sm-3 control-label">Tipo</label>
                                          <div class="col-sm-9">
                                              <div class="input-group">
                                                  <div class="input-group-prepend">
                                                      <span class="input-group-text">
                                                          <i class="ti-view-list-alt"></i>
                                                      </span>
                                                  </div>
                                                  <select class="custom-select" 
                                                      name="type"
                                                      [(ngModel)]="updateMapFile.type"
                                                      (change)="onChangeType()"
                                                      required>
                                                      <option selected></option>
                                                      <option value="conciliar_interno">Interno</option>
                                                      <option value="conciliar_externo" *ngIf="isAdmin">Externo</option>
                                                  </select>
                                                      
                                              </div>
                                          </div>
                                      </div>
                                      <div class="form-group row" *ngIf="showBancUpdate">
                                          <label for="username" class="col-sm-3 control-label">Entidad</label>
                                          <div class="col-sm-9">
                                              <div class="input-group">
                                                  <div class="input-group-prepend">
                                                      <span class="input-group-text">
                                                          <i class="ti-view-list-alt"></i>
                                                      </span>
                                                  </div>
                                                  <select class="custom-select" 
                                                      name="bank"
                                                      [(ngModel)]="updateMapFile.bank_id"
                                                      >
                                                      <option selected></option>
                                                      <option [value]="bank.id" *ngFor="let bank of bancsList">{{bank.name}}</option>
                                                  </select>
                                                      
                                              </div>
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label for="email4" class="col-sm-3 control-label">Descripción</label>
                                          <div class="col-sm-9">
                                              <div class="input-group">
                                                  <div class="input-group-prepend">
                                                      <span class="input-group-text">
                                                          <i class="ti-pencil"></i>
                                                      </span>
                                                  </div>
                                                  <input type="text" 
                                                      class="form-control" 
                                                      placeholder="Nombre del archivo o descrpición"
                                                      [(ngModel)]="updateMapFile.description"
                                                      name = "name" 
                                                      required>
                                              </div>
                                          </div>
                                      </div>                                      
                                  </form>
                              </div>
                          </div>
                        </div>
                        <!-- LISTA DE CAMPOS -->
                        <div class="col-lg-7">
                          <div class="card">
                              <div class="card-body">
                                  <h4 class="card-title">Mapeo de Campos</h4>
                                  <h6 class="card-subtitle">Asignación de campos a maestros</h6>
                                  <!-- <form class="form-horizontal p-t-20" (ngSubmit)="save( f ) " #f="ngForm"> -->
                                  <!-- <form class="form-horizontal p-t-20" (ngSubmit)="mapFunction( f2 ) " #f2="ngForm"> -->
                                  <form class="form-horizontal p-t-20" (ngSubmit)="editMapFunction( f3 ) " #f3="ngForm">
                                      <div class="row">
                                        <div class="col-sm-12">
                                          <div *ngFor="let row of updateMapFile.fileRows[1]; let i=index"
                                              class="form-group">
                                              <label class="control-label col-form-label" for="inputcom">{{updateMapFile.fileRows[0][i]}}</label>
                                              <div class="row">
                                                <div class="col-sm-6">
                                                  <!-- <input class="form-control" id="inputcom" placeholder="Company Here" type="text"> -->
                                                  <p><span class="form-control">{{row}}</span></p>
                                                </div>
                                                <div class="col-sm-6">
                                                    <select class="custom-select" 
                                                      name="i"
                                                      [(ngModel)]="updateMapFile.mappedFields[i]['mapIndex']"
                                                      required>
                                                    <option selected></option>
                                                    <option 
                                                      [value]="field.id" 
                                                      *ngFor="let field of updateMapFile.masterFields"
                                                    >
                                                    <!-- {{ field.id+' '+field.description }} -->
                                                      {{field.id+ ' ' +field.type=='1'?'*'+field.description:field.description}}
                                                    </option>
                                                    </select>
                                                </div>
    
                                                
                                              </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="offset-sm-3 col-sm-9">
                                          <button type="submit" class="btn btn-info m-r-5 waves-effect waves-light">Guardar Mapeo</button>
                                          <button 
                                            (click)="cancel()"
                                            type="" class="btn btn-danger m-r-5 waves-effect waves-light" >Cancelar</button>
                                      </div>  
                                  </form>
                              </div>
                          </div>
                        </div>
                    </div>
                  </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
    <ng-template #content3 let-modal class="modal-lg">
            <div class="modal-header ">
                <h4 class="modal-title">{{modalInfo.title}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body card">
                <div class="row card-body">
                    <div class="col-sm-12">
                        <div *ngFor="let row of previewMap.mappedFields; let i=index"
                            class="form-group">
                            <label class="control-label col-form-label" for="inputcom">{{previewMap.fileRows[0][i]}}</label>
                            <div class="row">
                            <div class="col-sm-6">
                                <!-- <input class="form-control" id="inputcom" placeholder="Company Here" type="text"> -->
                                <span class="form-control">{{previewMap.fileRows[1][i]}}</span>
                            </div>
                            <div class="col-sm-6">
                                    <span class="form-control">{{row.value==""?'N/A':row.value}}</span>
                            </div>

                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
        </ng-template>
</div>
