version: "3"

services:
  # mdp-mysql-update:
  #   image: mysql:8.0
  #   container_name: mdp-mysql-update
  #   cap_add:
  #     - SYS_NICE # CAP_SYS_NICE
  #   ports:
  #     - "3010:3306"
  #   volumes:
  #     - ./run/var:/var/lib/mysql
  #   networks:
  #     - network_mdp
  #   environment:
  #     # Usar random por defecto para prd
  #     - MYSQL_ROOT_PASSWORD=securerootpassword
  #     - MYSQL_DATABASE=${DB_DATABASE}
  #     - MYSQL_USER=${DB_USERNAME}
  #     - MYSQL_PASSWORD=${DB_PASSWORD}

  mdp-laravel-update:
    build: ./back-end
    container_name: mdp-laravel-update
    ports:
      - "9010:80"
    networks:
      - network_mdp
    volumes:
      - ./back-end:/var/www/html/
      - ./vhost.conf:/etc/apache2/sites-available/000-default.conf
    # depends_on:
    #   - mdp-mysql-update
    # links:
    #   - mdp-mysql-update
    command: >
      bash -c "cd /var/www/html/
      && php artisan storage:link
      && apache2-foreground"
  # mdp-ng:
  #   container_name: mdp-ng
  #   build: ./front-end
  #   expose:
  #     - 4002
  #   ports:
  #     - "4204:80"
  #   depends_on:
  #     - mdp-laravel-update
  #   networks:
  #     - network_mdp
  #   volumes:
  #     - ./front-end:/usr/src/app/
  #     - ./front-end/nginx/default.conf:/etc/nginx/conf.d/default.conf
  #     - ./front-end/nginx/nginx.conf:/etc/nginx/nginx.conf
  #     - ./front-end/nginx/blockips.conf:/etc/nginx/blockips.conf
  #   links:
  #     - mdp-laravel-update

networks:
  network_mdp:
    driver: bridge
  # && composer install
  # && composer update
  # && php artisan migrate:fresh --seed
  # npm install --save-dev && npm rebuild node-sass &&
