<div class="container">
  <div class="row">
    <div class="col-4" style="padding: 2px;">
      <mat-card style="margin-top: 10px; text-align: center;">
        <h4 class="card-title">Infrmación Contable</h4>
        <h6 class="card-subtitle">Cargar Información Contable</h6>
        <form [formGroup]="formEditMapping" >
          <!-- type -->
          <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="type">
              <mat-option value="internal"> Interno</mat-option>
              <mat-option value="external"> Externo</mat-option>
            </mat-select>
          </mat-form-field>  
          <!-- banks -->
          <mat-form-field *ngIf="showBank">
            <mat-label>Banco</mat-label>
            <mat-select formControlName="bank">
              <mat-option *ngFor="let bank of bankList" 
                [value]="bank.id"
              >{{ bank.name }}</mat-option>
            </mat-select>
          </mat-form-field>  
          <!-- description -->
          <mat-form-field>
            <mat-label>Descripción</mat-label>
            <input matInput 
              formControlName="description"
              placeholder="Descripción"
          >
          </mat-form-field>
          <!-- separator -->
          <mat-form-field>
            <mat-label>Separador Decimal</mat-label>
            <mat-select formControlName="separator">
              <mat-option value=","> Coma (,)</mat-option>
              <mat-option value="."> Punto (.)</mat-option>
            </mat-select>
          </mat-form-field>  
          <!-- date format -->
          <mat-form-field>
            <mat-label>Formato de Fecha</mat-label>
            <mat-select formControlName="dateFormat">
              <mat-option *ngFor="let format of mappingDateFormat"
                [value]="format"> {{ format }}</mat-option>

            </mat-select>
          </mat-form-field>  
          <!-- omitir inicio -->
          <mat-form-field>
            <mat-label>Omitir las primeras filas</mat-label>
            <input matInput 
              type = "number"
              formControlName="skipTop"
              placeholder="Descripción"
            >
          </mat-form-field>
          <!-- omitir fin -->
          <mat-form-field>
            <mat-label>Omitir las ultimas filas</mat-label>
            <input matInput 
              type = "number"
              formControlName="skipBottom"
              placeholder="Descripción"
            >
          </mat-form-field>
        </form>
      </mat-card>
    </div>
    <div class="col-8">
      <form [formGroup]="formMap">
        <mat-card style="margin-top: 10px; width: 100%; text-align: center;">
          <h4 class="card-title">Relación de campos</h4>
          <div class="row" *ngFor="let item of mapping.map; index as i">
            <div class="col-6">
              <mat-form-field>
                <mat-label>{{ mapping.base[item.fileColumn].description }}</mat-label>
                <input matInput disabled
                  value="{{ item.value }}"
                  placeholder="{{ item.description }}">
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field>
                <mat-label></mat-label>
                <mat-select formControlName="{{i}}">
                  <mat-option value="null"></mat-option>
                  <mat-option *ngFor="let item of mappingIndex"  [value]="item.id"> {{item.description}}</mat-option>
                </mat-select>
              </mat-form-field>  
            </div>
          </div>
          <div class="flex d-flex mt-4 justify-content-around">
            <button mat-raised-button 
              type="button"
              color="primary" 
              class="mr-2"
              (click)="submitEdit()"
            >Guardar</button>
            <button mat-raised-button 
              type="button" 
              (click)="cancel()"
            >Cancelar</button>
          </div>
        </mat-card>
        
      </form>
    </div>