<!-- <button (click)="onClick( tabset)">name</button> -->
<div class="card">
  <div class="card-body">
    <h3 class="card-title">Configuración Contable </h3> 
    <h6 class="card-subtitle">Configuración de cargue de Archivos</h6>
    <h6  class="card-subtitle"></h6>
      <mat-tab-group  [(selectedIndex)]="selectedIndex">
        <mat-tab label="Configuraciones" >
          <ng-template matTabContent >
            <div class="d-flex flex-row-reverse mt-2">
              <mat-form-field>
                <mat-label>Filtro</mat-label>
                <mat-select [(value)]="sourceFilter" (selectionChange)="filterChange($event)">
                  <mat-option [value]="'accounting'">Interno</mat-option>
                  <mat-option [value]="'thirdParty'">Externo</mat-option>
                  <mat-option [value]="'all'"> Todos</mat-option>
                </mat-select>
              </mat-form-field>  
            </div>
            <app-list-mapping
              (action)="listAction($event)"
              type="all"
              [data]="mappingInfo"
            ></app-list-mapping>
          </ng-template>
        </mat-tab>
        <mat-tab label="Cargue">
          <app-add-mapping *ngIf="selectedIndex == 1"
            (mappingResult)="mappingResult($event)"
          ></app-add-mapping>
        </mat-tab>
        <mat-tab label="Editar" disabled>  
          <ng-template matTabContent >
            <app-edit-mapping
              (action)="editAction($event)"
              [mapping]="editMapping"
            ></app-edit-mapping>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
  </div>
</div>
<ng-template #detailModal let-modal class="modal-lg">
  <div class="modal-header ">
      <h4 class="modal-title">{{modalInfo.title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <app-detail-mapping
    [map]="detailMapInfo"
  ></app-detail-mapping>
  <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>



