.mat-table{
  width: 100%;
}

td.mat-cell, th.mat-header-cell {
  text-align: center;
  justify-content:center;
}

td.mat-cell {
  text-align: center;
  justify-content:center;
  padding: 0 2px 0 2px;
}

.currency{
  text-align: right !important;
  justify-content: right !important;
  padding: 0 2px 0 2px;
}