
<form [formGroup]="formBalance" (submit)="onSubmit()" >
  <div class="d-flex justify-content-end m-2 spac">
    <button type="button" mat-stroked-button color="primary" class="mr-4">Cancelar</button>
    <button 
      type="submit" 
      mat-raised-button 
      color="primary" 
    >Siguiente</button>
  </div>

  <table mat-table *ngFor="let item of dataSource"
      [dataSource]="[item]" multiTemplateDataRows
      class="mat-elevation-z8 mb-3">

    <ng-container matColumnDef="startDates">
      <th mat-header-cell *matHeaderCellDef> Desde </th>
      <td mat-cell *matCellDef="let element"> 
        {{element.startDate}}
      </td>
    </ng-container>

    <ng-container matColumnDef="endDates">
      <th mat-header-cell *matHeaderCellDef> Hasta </th>
      <td mat-cell *matCellDef="let element"> 
        {{element.endDate}} 
      </td>
    </ng-container>

    <!-- bank name -->
    <ng-container matColumnDef="bank">
      <th mat-header-cell *matHeaderCellDef> Banco </th>
      <td mat-cell *matCellDef="let element"> {{element.bank}} </td>
    </ng-container>

    <!-- local & external account number -->
    <ng-container matColumnDef="accounts">
      <th mat-header-cell *matHeaderCellDef> cuenta </th>
      <td mat-cell *matCellDef="let element"> 
        <span>{{element.externalAccount}}</span>
        <br>
        <span>{{element.localAccount}}</span>
      </td>
    </ng-container>


    <ng-container matColumnDef="externalBalanceInput">
      <th mat-header-cell *matHeaderCellDef> Saldo Externo </th>
      <td mat-cell *matCellDef="let element"> 
        <div formGroupName="{{element.localAccount}}">
          <mat-form-field 
            class="balance-input">
            <mat-label>Saldo</mat-label>
            <input matInput 
              type="number"
              formControlName="externalBalance"
              (change)="balanceChange('Externo', element)"
            >
          </mat-form-field>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="localBalanceInput">
      <th mat-header-cell *matHeaderCellDef> Saldo Local </th>
      <td mat-cell *matCellDef="let element"> 
        <div formGroupName="{{element.localAccount}}">
          <mat-form-field 
            class="balance-input">
            <mat-label>Saldo</mat-label>
            <input matInput 
              type="number"
              formControlName="localBalance"
              (change)="balanceChange('Local', element)"
            >
          </mat-form-field>
        </div>
      </td>
    </ng-container>
    
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="detailInfo">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columns.length">
          <!-- TABLE -->
          <table mat-table
            [dataSource]="element.detailInfo" multiTemplateDataRows
            class="mat-elevation-z8">

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef> Fuente </th>
              <td class="right-align currency" mat-cell *matCellDef="let element"> {{element.type }} </td>
            </ng-container>

            <ng-container matColumnDef="prevBalance">
              <th mat-header-cell *matHeaderCellDef> Saldo Ant. </th>
              <td class="right-align currency" mat-cell *matCellDef="let element"> {{element.prevBalance | currency }} </td>
            </ng-container>

            <ng-container matColumnDef="credit">
              <th mat-header-cell *matHeaderCellDef> Credito </th>
              <td class="right-align currency" mat-cell *matCellDef="let element"> {{element.credit | currency }} </td>
            </ng-container>

            <ng-container matColumnDef="debit">
              <th mat-header-cell *matHeaderCellDef> Debito </th>
              <td class="right-align currency" mat-cell *matCellDef="let element"> {{element.debit | currency }} </td>
            </ng-container>

            <ng-container matColumnDef="balanceSum">
              <th mat-header-cell *matHeaderCellDef> Sumatoria </th>
              <td class="right-align currency" mat-cell *matCellDef="let element"> {{element.balanceSum | currency }} </td>
            </ng-container>

            <ng-container matColumnDef="newBalance">
              <th mat-header-cell *matHeaderCellDef> Diferencia </th>
              <td class="right-align currency" mat-cell *matCellDef="let element"> {{ element.difference | currency }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="detailColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: detailColumns;"></tr>
          </table>
          <!-- TABLE -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let element; columns: columns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['detailInfo']" class="example-detail-row"></tr>
  </table>
  
</form>