table {
  width: 100%;
}

tr.mat-header-row {
  height: 30px;
}

tr.mat-row {
  height: 30px;
}

td.mat-cell, th.mat-header-cell {
  text-align: center;
  justify-content:center;
  padding: 0 5px 0 5px ;
  border: 1px solid;
  
}

td.mat-cell {
  text-align: center;
  justify-content:center;
  font-size: 12px;
  height: fit-content;
  
}

.right-align{
  text-align: right !important;
  justify-content: right !important;
  
}

.currency{
  min-width: 90px !important;
  font-size: 11px !important;
  text-align: center;
}

.mat-input-element{
  text-align: right ;
}