
<mat-horizontal-stepper [linear]="isLinear" [selectedIndex]="stepperIndex" #stepper>
  <mat-step >
    <ng-container>
      <app-balance-accounts></app-balance-accounts>
    </ng-container>
  </mat-step>
  <mat-step >
    <app-reconciliation-balance 
      [reconciliationItem]="items"
    ></app-reconciliation-balance>
    <!-- <app-set-balance [accountsResume]="items" ></app-set-balance> -->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
  
  </mat-step>
</mat-horizontal-stepper>
