<div class="card">
  <div class="card-body">
    
    <mat-tab-group  [(selectedIndex)]="selectedIndex">
      <mat-tab label="Historial" >
        <ng-template matTabContent >
          <app-agreements-list></app-agreements-list>
        </ng-template>
      </mat-tab>
      <mat-tab label="Resultado" disabled>  
        <ng-template matTabContent >
          <app-agreements-result ></app-agreements-result>
        </ng-template>
      </mat-tab>

      <mat-tab label="Cargue" disabled>
        <app-agreements-upload></app-agreements-upload>
      </mat-tab>
    </mat-tab-group>
  
</div>