<!-- <button (click)="onClick( tabset)">name</button> -->
<div class="card">
  <div class="card-body">
    <h3 class="card-title">Conciliaciones</h3>
    <h6 class="card-subtitle">Conciliación de Cuentas</h6>
      <mat-tab-group  [(selectedIndex)]="selectedIndex">
        <mat-tab label="Cuentas" >
          <ng-template matTabContent >
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>Iniciar Conciliación</mat-card-title>
                <mat-card-subtitle>Cargar Archivo</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <app-reconciliation-hisotry></app-reconciliation-hisotry>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>      
          </ng-template>
        </mat-tab>
        <mat-tab label="Cargue" [disabled]="!selectedAccount">
        </mat-tab>
        <mat-tab label="Editar" disabled>  
          <ng-template matTabContent >
           
          </ng-template>
        </mat-tab>
      </mat-tab-group>
  </div>
</div>



