

<div class="d-flex flex-row justify-content-center" >
  <div class="card col-4">
    <div class="card-body">
      <h4 class="card-title">Cargar Convenio</h4>
      <form class="form-horizontal p-t-20" [formGroup]="uploadForm" (submit)="onSubmit()">
        <div class="form-group">
          <mat-form-field class="full-width-input">
            <input matInput 
              formControlName="date"
              [matDatepicker]="toPicker" 
              placeholder="Hasta"
            >
            <mat-hint>DD/MM/AAAA</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
            <mat-datepicker #toPicker></mat-datepicker>
          </mat-form-field>
        </div>
        
        <input type="file" #fileInput style="display: none;" (change)="onFileChange($event)">
        <div class="form-group">
          <mat-form-field 
            class="full-width-input"
            (click)="fileInput.click()">
            <mat-label>Archivo</mat-label>
            <input matInput 
              value="{{  fileName }}"
              placeholder="Archivo"
              disabled
            >
            <mat-icon matSuffix 
              style="cursor: pointer"
            >cloud_upload</mat-icon>
            <mat-hint>Información de Tercero</mat-hint>
          </mat-form-field>
        </div>      
        <div class="flex d-flex mt-4 justify-content-around">
          <button mat-raised-button
            type="submit"
            color="primary" 
            class="mr-2"
          >Cargar</button>
          <button mat-raised-button
            type="button" 
            (click)="cancel()"
          >Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  </div>
  