<table mat-table
  [dataSource]="dataSource" multiTemplateDataRows
  class="mat-elevation-z8">
  <!-- Global Info -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef> 
      <mat-checkbox
        (change)="toggleAll()"
        [checked]="selection.hasValue() && isAllSelected()"
      ></mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let element"> 
      <mat-checkbox
      [checked]="selection.isSelected(element)"
      ></mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Tipo</th>
    <td mat-cell *matCellDef="let element"> 
      {{element.type}}
    </td>
  </ng-container>

  <ng-container matColumnDef="dates" >
    <th mat-header-cell *matHeaderCellDef> Fechas </th>
    <td mat-cell *matCellDef="let element" style="min-width: 80px;"> 
      {{element.startDate}}
      <br/> 
      {{element.endDate}} 
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Banco </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="bankAccount">
    <th mat-header-cell *matHeaderCellDef> No. Cuenta </th>
    <td mat-cell *matCellDef="let element">
      <span>{{element.localAccount}}</span>
      <br/>
      <span>{{element.bankAccount}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="step">
    <th mat-header-cell *matHeaderCellDef> Paso </th>
    <td mat-cell *matCellDef="let element"> {{element.step}} </td>
  </ng-container>

  <ng-container matColumnDef="process">
    <th mat-header-cell *matHeaderCellDef> Paso </th>
    <td mat-cell *matCellDef="let element"> {{element.process}} </td>
  </ng-container>
  <!-- detail Info -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="subColumnsToDisplay.length" style="padding: 0;">
      <div class="example-element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <table mat-table
          [dataSource]="[element]" multiTemplateDataRows
          class="mat-elevation-z8">

          <ng-container matColumnDef="externalDebit">
            <th mat-header-cell *matHeaderCellDef> Debito Externo </th>
            <td class="right-align currency" mat-cell *matCellDef="let element"> {{element.externalDebit | currency }} </td>
          </ng-container>

          <ng-container matColumnDef="externalCredit">
            <th mat-header-cell *matHeaderCellDef> Credito Externo </th>
            <td class="right-align currency" mat-cell *matCellDef="let element"> {{element.externalCredit | currency }} </td>
          </ng-container>

          <ng-container matColumnDef="externalBalance">
            <th mat-header-cell *matHeaderCellDef> Saldo Externo </th>
            <td class="right-align currency" mat-cell *matCellDef="let element"> {{element.externalBalance | currency }} </td>
          </ng-container>

          <ng-container matColumnDef="localCredit">
            <th mat-header-cell *matHeaderCellDef> Credito Cont </th>
            <td class="right-align currency" mat-cell *matCellDef="let element"> {{element.localCredit | currency }} </td>
          </ng-container>

          <ng-container matColumnDef="localDebit">
            <th mat-header-cell *matHeaderCellDef> Debito Cont </th>
            <td class="right-align currency" mat-cell *matCellDef="let element"> {{ element.localDebit | currency }} </td>
          </ng-container>

          <ng-container matColumnDef="sum">
            <th mat-header-cell *matHeaderCellDef> Sumatoria </th>
            <td class="right-align currency" mat-cell *matCellDef="let element"> {{ getBalanceSum(element) | currency }} </td>
          </ng-container>

          <ng-container matColumnDef="localBalance">
            <th mat-header-cell *matHeaderCellDef> Saldo Contable </th>
            <td class="right-align currency" mat-cell *matCellDef="let element"> {{ element.localBalance | currency }} </td>
          </ng-container>

          <ng-container matColumnDef="difference">
            <th mat-header-cell *matHeaderCellDef> Diferencia </th>
            <td class="right-align currency" mat-cell *matCellDef="let element"> {{ element.difference | currency }} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="subColumnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: subColumnsToDisplay;"></tr>
        </table>
      </div>
    </td>
  </ng-container>
  

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" style="padding: 0;"></tr>
</table>
<div class="d-flex justify-content-start m-4">

  <div class="d-flex justify-content-end mb-4">
      <button *ngIf="accounts.length > 0" 
        type="button" mat-raised-button 
        color="primary" 
        class="mr-4"
      >Iniciar Proceso</button>
    <button mat-raised-button 
      [routerLink]="['/conciliar/process']" 
      type="button" 
      color="primary" 
      class="mr-4"
    >Inicializar Cuentas</button>
  </div>
  
</div>

<!-- 
  EN HISTORICCO permitir ir al proccesso q se selecciones
  
  EN LA INICIAL GUARDAR saldos y cambiar estado del processo a consolidado, 
    regresar a la interfaz de Resumen de cuenta

  EN CUENTAS permitir selecccionar varias cuentas y enviar a un nuevo proceso,
    validar que las cuentas estén en estado válido para iniciar el proceso
    si por lo menos una una no cumple impedirlo.
  
 -->